@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
    font-family: 'Noto Sans KR', sans-serif;
}

textarea {
    font-family: 'Noto Sans KR', sans-serif;
}
