@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Noto Sans KR', sans-serif;
}